{% extends "base.html" %}

{% block content %}

{% load tz %}
		{% timezone "US/Pacific-New" %} 
		
	 <link href="{{ STATIC_URL }}css/spot.css" rel="stylesheet">
	





	 <div >

	 	<h1 class="text-center">{{spot}} </h1>
	
		



	 </div>


	 <div class="container">


<div class="row"><div class="col-xs-12 col-md-8">	
	{% for s in images %}
  <div class="thumbnail">
      <img class = "thumbnail-image" src=" {{s.url}}"  >
      <div class="caption">

      	
		<h2>time == {{ s.ForecastData.date|localtime }} </h2>
	




      <h2>oldtime == {{ s.ForecastData.date}} </h2>

        <p>WDIR: {{s.ForecastData.WDIR}} WSPD:{{s.ForecastData.WSPD}} WVHT:{{s.ForecastData.WVHT}} DPD {{s.ForecastData.MWD}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  {% endfor %}
		</div>
<div class="col-xs-12 col-md-4">	
	<h2>Recent Forecasts for {{spot}}</h2>
		<table class="table-striped">

	
      <thead>

        <tr>
        	<th> Date </th>
          <th>WDIR: </th>
          <th>WSPD</th>
          <th>WVHT</th>
          <th>DPD</th>
        </tr>
      </thead>
      <tbody>
      		{% for a in data %}
      		
        <tr>
        	<td>{{a.date}}</td>
          <td>{{a.WDIR}}</td>
          <td>{{a.WSPD}}</td>
          <td>{{a.WVHT}}</td>
          <td>{{a.DPD}}</td>
        </tr>
        	{% endfor %}
   
      </tbody>
    </table>



		</div>
		</div> 


      	 {% endtimezone %}
{% endblock %}