{% extends "base.html" %}

{% block content %}

{% load tz %}
		{% timezone "US/Pacific-New" %} 
		
	 <link href="{{ STATIC_URL }}css/spot.css" rel="stylesheet">



	 <div >

	 	<h1 class="text-center">{{spot}} </h1>
    <h2 class="text-center">Current Forecast: {{current_forecast}}</h2>
</div>

     <div class="container-fluid" id = "pictures" >

     </div>
	<!--
		
<div id="sorts" class="button-group">
  <button data-sort-by="date">date</button>
  <button data-sort-by="WVHT">WVHT</button>

</div>

<div id="filters" class="button-group">
  <button data-filter=".5">.5</button>
  <button data-filter="1.0">1.0</button>

</div>

<p><button id="shuffle">Shuffle</button></p>




	 </div>


	 <div class="container-fluid"  >
   
<div class = "row" id= "container">

	{% for s in images %}
 

  
    <div class = "col-xs-12 col-md-4 item w-{{s.ForecastData.WVHT}}" data-category="transition" >
    <img class = "responsive-image "  style = "width: 100%;" src=" {{s.url}}"  >
   

      	
		<h2 class = "date">{{ s.ForecastData.date|localtime }} </h2>
	


        <p>Wind Direction(Degrees from N): {{s.ForecastData.WDIR}} Windspeed:{{s.ForecastData.WSPD}} m/s <br>Wave Height:{{s.ForecastData.WVHT}}m Swell Angle: {{s.ForecastData.MWD}}  Period {{s.ForecastData.DPD}} seconds</p>      

         <p class = "WVHT">{{s.ForecastData.WVHT}}</p>
     
   </div>

  
  {% endfor %}

		</div>
      </div>
...-->























 <script src="{{ STATIC_URL }}js/spot.js" ></script>

 <script id="pictureTemplate" type = "wbk2/template">

<div class="col-xs-12 col-md-4 item "  >
    <img class="responsive-image " style="width: 100%;" src="REPLACEME">
   

      	
		<h2 class="date">DATEREPLACE</h2>
	


        <p>Wind Direction(Degrees from N): 290.0 Windspeed:1.0 m/s <br>Wave Height:1.2m Swell Angle: 269.0  Period 8.0 seconds</p>      

         <p class="WVHT">1.2</p>
     
   </div>


 </script>


	 <script>
	$(function() {

	var $pictures = $("#pictures");
	var template = $.trim ( $("#pictureTemplate").html() );
	var frag = "";


 $.ajax({
		  url: '/api/imagelink/?format=json&&ForecastData__spot=3&&limit=0',
		  type: 'GET',
		  accepts: 'application/json',
		  dataType: 'json',
		  success: function(data){
		  		$.each(data.objects, function(i, picture) {

		  			var temp = template. replace( /REPLACEME/ig, picture.url )
		  				.replace( /DATEREPLACE/ig, picture.ForecastData.date)

		  			;

		  			frag += temp;
		  				
			   		//$pictures.append('<img src=" ' + picture.url + '"</img>');
				}); //end each

				$pictures.append(frag);
			} //end succes function definition

			 
		  });//end a
});

	 </script>




      	 {% endtimezone %}
{% endblock %}