{% extends "base.html" %}

{% block content %}

{% load tz %}
		{% timezone "US/Pacific-New" %} 
		
	 <link href="{{ STATIC_URL }}css/surfaudit.css" rel="stylesheet">


<h1> Surf Audit </h1>
<p>{{data}}</p>

<table class = "table table text-center">
	<thead>
		<th>Spot</th>
		<th>Today's Forecasted Rating</th>
		<th>Today's Forecasted Wave Height</th>
		<th>Today's Reported Rating</th>
		<th>Today's Reported Wave Height</th>
		<th>Conditions Match?</th>
		<th>Wave Height Match?</th>
	</thead>



	<tbody>
		{% for a in data %}
			
		<tr>
			{% for b in a %}
			<td class = "{{b}}">{{b}}</td>
			{% endfor %}
			<td ></td>
		</tr>
	
		{% endfor %}
	</tbody>



</table>


 <script src="{{ STATIC_URL }}js/surfaudit.js" ></script>
      	 {% endtimezone %}
{% endblock %}