{% extends "base.html" %}

{% block content %}

{% load tz %}
		{% timezone "US/Pacific-New" %} 
		
	 <link href="{{ STATIC_URL }}css/surfaudit.css" rel="stylesheet">


<h1> Surf Audit </h1>

<p>Surfers spend countless hours reviewing forecast information. How accurate are our predictions?</p>
<p>As an experiment, I took all of Surfline's forecasts and plotted their accuracy against the following day's reported conditions. </p>


<table class = "table table text-center">
	<thead>
		<th>Spot</th>
		<th>Today's Forecasted Rating (from yesterday)</th>
		<th>Today's Forecasted Wave Height(from yesterday)</th>
		<th>Today's Reported Rating (from today)</th>
		<th>Today's Reported Wave Height (from today)</th>
		<th>Conditions Match?</th>
		<th>Wave Height Match?</th>
	</thead>



	<tbody>
		{% for a in data %}
			
		<tr>
			{% for b in a %}
			<td class = "{{b}}">{{b}}</td>
			{% endfor %}
			<td ></td>
		</tr>
	
		{% endfor %}
	</tbody>



</table>


 <script src="{{ STATIC_URL }}js/surfaudit.js" ></script>
      	 {% endtimezone %}
{% endblock %}