{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Spot: <strong>{{spot_name}}</strong></h1>
        {% load staticfiles %}
        <img src="{% static "core/img/wave1.jpg" %}">
        <p>{{spot_description}}</p>
      



		
      </div>
     
    </div>

    <div class="container">
    	<h2 class="text-center">Today's Forecast</h2>
    	<table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Swell</th>
          <th>Wind</th>
          <th>Tide</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>6/7/2014 10:00am</td>
          <td> 5ft SSW @ 11 seconds</td>
          <td>5 knots W. (Offshore!)</td>
          <td>-0.1 ft (negative low, rising)</td>
        </tr>
        <tr>
          <td>6/7/2014 1:00pm</td>
          <td>5ft SSW @ 11 seconds</td>
          <td>5 knots W. (Offshore!)</td>
          <td>2ft (mid, rising)</td>
        </tr>
        <tr>
          <td>6/7/2014 4:00pm</td>
          <td>3ft SSW @ 8 seconds</td>
          <td>5 knots W. (Offshore!)</td>
          <td>4.5ft (High)</td>
        </tr>
      </tbody>
    </table>
</div>

    <div class="container">
    	<h1 class="text-center">Days similar to today (with pictures!)</h1>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        	{% load staticfiles %}
        <img src="{% static "core/img/wave2.jpg" %}">

      <div class="caption">
         <p>Courtesy of Joe Photog.</p>   
      </div>
          <h2>5/11/2014</h2>

          <p><strong>Conditions:</strong> 5ft SSW @ 11 seconds	5 knots W. (Offshore!)	-0.1 ft (negative low, rising)</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
        	{% load staticfiles %}
        <img src="{% static "core/img/wave3.jpg" %}">
          <div class="caption">
         <p>Courtesy of Joe Photog.</p>   
      </div>
          <h2>3/10/2012</h2>
          <p><strong>Conditions:</strong> 5ft SSW @ 11 seconds	5 knots W. (Offshore!)	-0.1 ft (negative low, rising)</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
        	{% load staticfiles %}
        <img src="{% static "core/img/wave_gif1.gif" %}">
          <div class="caption">
         <p>Courtesy of Joe Photog.</p>   
      </div>
          <h2>1/19/2011</h2>
         <p><strong>Conditions:</strong> 5ft SSW @ 11 seconds	5 knots W. (Offshore!)	-0.1 ft (negative low, rising)</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    {% endblock %}